<div class="table-head">
  <h2>Students Table</h2>
</div>

<div class="top-btn">
  <button class="home-btn" routerLink="/">Home</button>
  <button class="add-btn" routerLink="/create">Add Student</button>
</div>
<div class="board">
  <table width="100%">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Cohort</th>
        <th>phoneNumber</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <td>{{student._id}}</td>
        <td>{{student.name}}</td>
        <td>{{student.email}}</td>
        <td>{{student.cohort}}</td>
        <td>{{student.phoneNumber}}</td>
        <td>
          <a class="edit-btn" routerLink="/students/find/{{student._id}}">Edit</a>
          <button (click)="deleteStudent(student._id)" class="delete-btn">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>