<header>
  <div class="nav-con">
    <div class="main-nav">
      <a routerLink="/"><span class="logo">Logo</span></a>
      <a routerLink="/"><span>Home</span></a>
      <a><span>About</span></a>
      <a routerLink="/students"><span>Students</span></a>
      <a routerLink="/create"><span>Enroll</span></a>
    </div>
    <div class="register">
      <a>Login</a>
      <a class="signUp" href="">Sign Up</a>

    </div>
  </div>
</header>

<section>
  <div class="hero">
    <div class="text">
      <h2>Student Management System</h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam perferendis quaerat dolorem
        laboriosam, tempora sapiente temporibus sint ipsam, suscipit facere eius. Incidunt aliquam quae
      </p>

      <a routerLink="/create"> Add Students</a>
      <a routerLink="/students" class="view"> View Students</a>
    </div>
    <div class="image">
      <img src="https://www.stbenedicts.org.uk/_site/data/files/images/news%20images/BABE10C9DD0099AB0EB3F6974A035B09.jpg" alt="">
    </div>

  </div>
</section>
<footer>
  <div class="top">
    <div class="message">
      <h1>Stay in Touch</h1>
      <p>Subscribe for latest stories and updates</p>
      <input type="text">
      <button>Subscribe</button>
    </div>
  </div>
  <div class="social">
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-google"></a>
    <a href="#" class="fa fa-linkedin"></a>
    <a href="#" class="fa fa-youtube"></a>
    <a href="#" class="fa fa-instagram"></a>
  </div>
</footer>